.idea/

# Ignore temporary files in src
src/temp/

# Ignore logs
#*.log

src/Query AlphaFold structures
src/results
src/download_query_structures/structures_urls_to_download.txt       #That file have been used for tests for batch downlading via given input url

.ipynb_checkpoints/

results

Query AlphaFold structures
Query_structures_ids_txt_files


.my_data
